<hr>
<form (ngSubmit)="addCar(form)" #form="ngForm">
  <label> Car Name</label>
  <input type="text" class="form-control"
         ngModel
         name="carName">
  <label> Car Color</label>
  <input type="text" class="form-control" ngModel
         ngModel
         name="carColor"
  >
  <button class="btn btn-success" type="submit"> Save Car</button>
</form>
<hr>


<div>
  <label> Search</label>
  <input type="text" [(ngModel)]="searchCar">
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Color</th>
    <th scope="col">Id</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let car of cars | carFilter: searchCar; let i = 'index'">
    <th scope="row">{{i+1}}</th>
    <td>{{car.name}}</td>
    <td>{{car.color}}</td>
    <td> {{car.id}}</td>
    <td>
      <button (click)="showConfirm(car)" class="btn btn-primary"> change</button>
    </td>
    <td>
      <button (click)="deleteCar(car)" class="btn btn-danger"> delete</button>
    </td>
  </tr>
  </tbody>
</table>
